{% extends "base.html" %}

{% load wagtailcore_tags static custom_urls %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="container">
        <div class="nav">
            <div class="logo">
                <a href="{% base_url %}">
                    <img src="{% static 'images/logo.svg' %}" alt="Logo">
                </a>
            </div>
            <nav>
                <ul>
                    {% for block in page.content %}
                        {% if block.value.navigation_title %}
                        <li>
                            <a href="#{{ block.value.navigation_title|slugify }}" {% if forloop.first %}class="active"{% endif %}>
                                {{ block.value.navigation_title }}
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="content">
            {% block page_content %}
                {% include_block page.content %}
            {% endblock %}
            <footer>
                <div>SOS Romanian Rescue &copy;{% now "Y" %} | All Rights Reserved</div>
                <div>Charity Number : 1160999</div>
            </footer>
        </div>
    </div>
{% endblock %}
